* {
  padding: 0;
  margin: 0;
  font-family: Jost;
  color: white;
  scroll-behavior: smooth;
}

@font-face {
  font-family: Jost;
  src: url(./fonts/Jost-Regular.ttf);
}
html {
  scroll-behavior: smooth;
}


Link {
  text-decoration: none;
}
.fade-enter {
  opacity: 0;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 500ms, transform 500ms;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0;
  transition: opacity 500ms, transform 500ms;
}
