* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

:root {
    scroll-behavior: smooth;
}

html {
    scroll-behavior: smooth;
}

.containermain1 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    height: 70vh;
}

.condition-image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    filter: brightness(1.2);
}

.description1 {
    margin-left: 20px;
    width: 100%;
}

.description-title {
    text-shadow: 0 3px 10px rgba(0, 255, 255, .5), 0 0 20px rgba(255, 255, 255, .5);
    font-weight: 500;
}

.description-text {
    font-size: 14px;
    line-height: 1.5;
}

.inforow {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    padding: 0 30px;
    height: 25vh;
}

.info-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    text-align: center;
}

.info-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.info-text {
    font-size: 14px;
    line-height: 1.6;
    width: 330px;
    height: 130px;
}

.containermain2 {
    position: relative;
    width: 100%;
    align-items: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}
.mainimage2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.mainimage2-img {
    border-radius: 70px;
    filter: brightness(60%);
    position: relative;
    display: flex;
    align-self: center;
    width: 70%;
    height: 100%;
}

.mainimage2-text {
    position: absolute;
    font-size: 35px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

@media (max-width: 768px) {
    .containermain1 {
        flex-direction: column;
    } 

    .containermain1 {
        flex-direction: column;
        height: 80vh;
    }     
    .containermain2 {
        flex-direction: column;
        height: 100vh;
    } 
    .inforow {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 90vh;
        width: 100%;
        padding:  0;
        margin: 0;
    }
    .mainimage2 {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0;
    }
    .mainimage2-img {
        width: 96%;
        object-fit: cover;
        min-height: 70vh;
    }

    .info-item {
        width: 100%;
        margin-bottom: 20px;
    }

    .mainimage2-text {
        font-size: 25px;
        text-align: center;
    }

    .description1 {
        margin: 0;
    }

    .description-title {
        text-align: center;
    }

    .description-text {
        text-align: center;
    }

}

html {
    scroll-behavior: smooth;
  }