.footer {
  bottom: 0 auto
}

.footer-container {
    background-color: #1c1d1f;
    color: #ffffff;
    padding: 40px 0 0;
    font-family: Arial, sans-serif;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    max-width: 95%;
    margin: 0;
    padding: 0 100px;
    margin-bottom: 100px;
  }
  
  .footer-section {
    flex: 1;
    min-width: 200px;
    margin: 20px 0;
    align-items: left;
    display: flex;
    flex-direction: column;
  }
  
  .logo-section h1 {
    font-size: 1.8rem;
    color: #00aaff;
  }
  
  .footer-section h3 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .footer-section p, 
  .footer-section ul {
    font-size: 1.1rem;
    line-height: 1.5;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li a {
    color: #ffffff;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #00aaff;
    transition: all .5s;
  }
  
  .social-media-section .social-icons {
    display: flex;
    gap: 16px;
  }

  .social-media-section {
    display: flex;
  }


  .social-icons a {
    color: #ffffff;
    font-size: 1.2rem;
    transition: color 0.3s ease;
  }
  
  .social-icons a:hover {
    color: #00aaff;
  }

  .footer-bottom {
    text-align: center;
    padding-top: 17px;
    border-top: 1px solid #ffffff;
  }

  .footer-bottom p {
    font-size: 23px;
    padding: 0;
    margin: 0;
    padding-bottom: 15px;
  }

  p {
    margin: 0;
  }
  
  @media (max-width: 768px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
    .footer-section {
      margin: 10px 0;
      align-items: center;
    }
  }
  